header {
    background-color: #c86dd4


}

h1 {
    color: white;
    font-size: 3em;
    padding-top: 50px;
    width: 100%;
    font-family: Arial;
    text-align: center;

}


body {
    background-color: rgb(244, 222, 245);
    margin: 0;
    padding: 0;
    float: center;
}

h2 {
    float: left;
    color: #c86dd4;
    font-size: 2em;
    padding-right: 30px;
    width: 100%;
    font-family: Arial;
    text-align: center;

}

h3 {
    float: right;
    color: #c86dd4;
    font-size: 2em;
    padding-right: 5px;
    width: 100%;
    font-family: Arial;
    text-align: center;

}

h4 {
    float: inline-start;
    position: absolute;
    color: #c86dd4;
    font-size: 2em;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    font-family: Arial;
    text-align: center;
}

h2, h3, h4 {
    display: inline;
    width: 30%;
    height: 30px;
    margin: auto;
    padding: 0;
}

a {
    color: #c86dd4;
}

p {
    color: black;
    size: 3em;
    text-align: center;
    margin: auto;
    width: 700px;
    padding-top: 30px;
    padding-bottom: 30px;


}

img{
    float: right;
    margin: 0px 0px 15px 20px;
}

.hex {
    display: block;
    float: center;
    margin: auto;
    position: relative;
    width: 320px;
    height: 277.12px;
    background: purple;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    
}

.hex-background {
    position: absolute;
    background-color: royalblue;
    width: 316px;
    height: 273.12px;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

